*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#container{
    width:100%;
    height:100vh;
    background:linear-gradient(to right,hsl(240, 100%, 7%), hsl(240, 100%, 27%),hsl(219, 79%, 46%))
}
#c_search{
    width:100%;
    height:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#c_rezultat{
    width:100%;
    height:70%;
    display:flex;
    justify-content: center;
}
input{
    padding:20px;
    font-size: 1.3rem;
    border-radius:60px;
    border:2px solid hsl(0, 0%, 60%);
    background-color: hsl(240, 83%, 57%);
    box-shadow: 2px 2px 2px black;
    color:white;
}
input:focus{
    outline:none;
    background-color: hsl(240, 83%, 47%);
    border:2px solid hsl(0, 0%, 80%);
}
input::placeholder{
    color:hsl(0, 0%, 80%);
}
#lupa{
    font-size: 2.5rem;
    cursor: pointer;
    transition:.3s;
}
#lupa:hover{
    font-size: 3rem;
}
#c_soare{
    width:75vh;
    height:55vh;
    display:flex;
    align-items: center;
    flex-direction:column;
}
#grade{
    font-size: 3.5rem;
    color:hsl(0, 0%, 80%);
}
#loc_tar{
    font-size:2.5rem;
    color:hsl(0, 0%, 80%);
}
#list{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:5px;
}
#umiditate{
    font-size:1.3rem;
    color:hsl(0, 0%, 80%);
}
#date{
    display:flex;
    width:100%;
    justify-content:space-around;
    margin-top: 45px;
}
.atribute{
    font-size: 1rem;
    color:hsl(0, 0%, 60%);
}